/* Общие стили */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
}

header {
    background: yellow;
    padding: 10px 0;
    text-align: center;
    color: black;
    font-size: 24px;
}

main {
    padding: 20px;
    text-align: center;
}

h1, h2 {
    color: #444;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

/* Стили для карусели */
.carousel-container {
    margin: 20px auto;
    max-width: 600px;
    position: relative;
}

.carousel {
    position: relative;
    max-width: 600px;
    margin: auto;
}

.carousel-image {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.next {
    right: -25px;
}

.prev {
    left: -25px;
}

.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    transform: scale(1.1);
}

/* Индикаторы */
.carousel-indicators {
    text-align: center;
    margin-top: 10px;
}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: yellow;
}

.dot:hover {
    background-color: white;
}

/* Подвал */
footer {
    background: #f4f4f4;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#telegram-link {
    display: inline-block;
    margin-top: 10px;
    text-align: center;
}

#telegram-link img {
    width: 40px; /* Размер иконки */
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease; /* Эффект при наведении */
}

#telegram-link img:hover {
    transform: scale(1.2); /* Увеличение при наведении */
}
